$background:#aad3d1;
$main-color:#f1f4fb;
$secondary-color:#f05d7b;
$section-background:#fdeef2;
$text-color:#747474;
$title-color:#071e48;
$white:#fff;
$bar-color:#cdcdcd;
$blue:#304e84;
$main-border:.07rem solid $secondary-color;
$border:.07rem solid #cfcfcf;
$box-shadow: 3px 2px 25px 11px rgba(0,0,0,0.10);
$box-shadow-button:  -2px -3px 12px -1px rgba(0,0,0,0.36); 
